.create-user-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 4px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-actions {
  text-align: center;
}

.success {
  text-align: center;
}

.error {
  text-align: center;
}

.required {
  color: #f97373;
}
